<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Konacha Tests</title>
    <%= stylesheet_link_tag "mocha",   :debug => false %>
    <%= stylesheet_link_tag "konacha", :debug => false %>
    <%= javascript_include_tag "mocha", "chai", "konacha/#{Konacha.mode}", :debug => false %>
    <script>
      (function () {
        var ui = <%= raw Konacha.interface.to_json %>;

        mocha.setup({ui: ui, reporter: Konacha.Reporter});

        var reset = function () {
          var e = document.getElementById('konacha'),
              p = e.parentNode;

          p.removeChild(e);

          e = document.createElement("div");
          e.id = "konacha";

          p.appendChild(e);
        };

        if (ui == "bdd") {
          beforeEach(reset);
        } else if (ui == "tdd") {
          setup(reset);
        }
      })();

      var expect = chai.expect,
          should = chai.should(),
          assert = chai.assert;

      window.onload = function () {
        mocha.run();
      };
    </script>
    <%= spec_include_tag *@specs %>
  </head>
  <body>
    <div id="mocha"></div>
    <div id="konacha"></div>
  </body>
</html>
